In [1]:
#CSV Bibliothek importieren 
import csv
#Pandas importieren und als pd bezeichnen
import pandas as pd
#Numpy importieren und als np bezeichnen 
import numpy as np
#Json Biliothek importieren
import json
#Obere Schranke für die Größe der Daten auf 100,000,000 setzen  
csv.field_size_limit(100000000)
#Maximale Anzahl von Zeilen und Spalten Zeigen 
pd.options.display.max_columns = None
pd.options.display.max_rows = None

---

# Domäne Extrahieren
### In diesem Notebook werden nur die Tweets von TweetsKB bearbeitet

1. Alle Dataframes werden zuerst gelesen(Die Tweets wurden aufgeteilt und separat bearbeitet).
2. Die Dataframes werden zusammengefügt
3. Für alle Tweets werden die Domäne aus der URLs extrahiert
4. Die Anzahl der Domäne wird berechnet
5. Dataframe wird zu TweetsKB hinzugefügt und gespeichert

---

In [2]:
#Dataframe wird gelesen
pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_1.tsv'

df_1 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_1.shape)
df_1.head()

(1000002, 2)

              Tweet_Id                                               URLs
0  1178791636039589889  ['https://www.dcuniverseinfinite.com/coming-so...
1  1178791641265639424                     ['http://ourownside.carrd.co']
2  1178791640573579264                                                 []
3  1178791644797255680                                                 []
4  1178791648056217600  ['https://www.phenomhoopreport.com/2022-69-per...

In [3]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_2_1.tsv'

df_2_1 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_2_1.shape)
df_2_1.head()

(600067, 2)

              Tweet_Id                                              URLs
0  1189470263081082880                                                []
1  1189470261780844544                                                []
2  1189470292445454336                                                []
3  1189470300976627712  ['https://www.bbc.co.uk/news/business-50219036']
4  1189470330420490240                                                []

In [4]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_2_2.tsv'

df_2_2 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_2_2.shape)
df_2_2.head()

(355539, 2)

              Tweet_Id                                               URLs
0  1195846548854362113                                                 []
1  1195846548883685382                                                 []
2  1195846553048616961  ['https://www.deccanherald.com/state/mysuru/bs...
3  1195846574024331264                                                 []
4  1195846603392733185                                                 []

In [5]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_2_3.tsv'

df_2_3 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_2_3.shape)
df_2_3.head()

(44395, 2)

              Tweet_Id                                               URLs
0  1199666583519416321                                                 []
1  1199666586749153285                                                 []
2  1199666590943514624                                                 []
3  1199666593137123328  ['https://twitter.com/FentyStats/status/119908...
4  1199666607708102656                                                 []

In [6]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_3_1.tsv'

df_3_1 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_3_1.shape)
df_3_1.head()

(633436, 2)

              Tweet_Id URLs
0  1200122152659369984   []
1  1200122167859535874   []
2  1200122172016074753   []
3  1200122176210423809   []
4  1200122176210292736   []

In [7]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_3_2.tsv'

df_3_2 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_3_2.shape)
df_3_2.head()

(366565, 2)

              Tweet_Id URLs
0  1206749444986875904   []
1  1206749457557151744   []
2  1206749461747097601   []
3  1206749482731200512   []
4  1206749486933893120   []

In [8]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_4_1.tsv'

df_4_1 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_4_1.shape)
df_4_1.head()

(480707, 2)

              Tweet_Id URLs
0  1210862161708376064   []
1  1210862162580836352   []
2  1210862165558808576   []
3  1210862173980741633   []
4  1210862194705010688   []

In [9]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_4_2.tsv'

df_4_2 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_4_2.shape)
df_4_2.head()

(355205, 2)

              Tweet_Id                                               URLs
0  1215746042496503809                                                 []
1  1215746041934467073                                                 []
2  1215746054420934656  ['https://www.wptv.com/news/region-c-palm-beac...
3  1215746055477719040                                                 []
4  1215746057478582272                                                 []

In [10]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_4_3.tsv'

df_4_3 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_4_3.shape)
df_4_3.head()

(164089, 2)

              Tweet_Id                                               URLs
0  1219344168155258881                                                 []
1  1219344171200212992                                                 []
2  1219344180742369280                                                 []
3  1219344183397429251                                                 []
4  1219344184706060288  ['https://www.washingtonexaminer.com/news/demo...

In [11]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_5.tsv'

df_5 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_5.shape)
df_5.head()

(1000001, 2)

              Tweet_Id                                               URLs
0  1220994634769403904                                                 []
1  1220994656143585280                                                 []
2  1220994664964280320                                                 []
3  1220994668730568705                                                 []
4  1220994685495320576  ['https://blog.workwithjameshicks.com/the-most...

In [12]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_6.tsv'

df_6 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_6.shape)
df_6.head()

(1000001, 2)

              Tweet_Id                          URLs
0  1231172969461735424                            []
1  1231172999383941121                            []
2  1231173019768369154                            []
3  1231173021567725568                            []
4  1231173026072252416  ['http://PTBODYWORX.COM.AU']

In [13]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_7.tsv'

df_7 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_7.shape)
df_7.head()

(1000001, 2)

              Tweet_Id                              URLs
0  1241521340844314632                                []
1  1241521349207695360  ['https://youtu.be/lPU2c7grL4w']
2  1241521357604769799                                []
3  1241521399551987714                                []
4  1241521399547731969                                []

In [14]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_8_1.tsv'

df_8_1 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_8_1.shape)
df_8_1.head()

(492138, 2)

              Tweet_Id                                               URLs
0  1250683642709336064                                                 []
1  1250683672082051074                                                 []
2  1250683676263804929  ['https://wwos.nine.com.au/cricket/cricket-aus...
3  1250683688846872579                                                 []
4  1250683693066186752                                                 []

In [15]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_8_2.tsv'

df_8_2 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_8_2.shape)
df_8_2.head()

(507863, 2)

              Tweet_Id URLs
0  1254922069499875329   []
1  1254922083399725057   []
2  1254922083378724864   []
3  1254922083710140416   []
4  1254922108544733185   []

In [16]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_9_1.tsv'

df_9_1 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_9_1.shape)
df_9_1.head()

(351790, 2)

              Tweet_Id URLs
0  1259349032830369792   []
1  1259349037343371264   []
2  1259349045417574402   []
3  1259349074798501888   []
4  1259349104162979842   []

In [17]:
#Dataframe wird gelesen

pfad='C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/urls/load_urls/tweetskb_url_p_9_2.tsv'

df_9_2 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_9_2.shape)
df_9_2.head()

(561896, 2)

              Tweet_Id URLs
0  1262403039828336643   []
1  1262403056597118977   []
2  1262403061198159883   []
3  1262403063983333414   []
4  1262403077539323907   []

In [18]:
#Dataframe wird gelesen

pfad = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/random_sample/sample/urls/tweetskb_sample_nicht_verarbeitet_urls_loaded_1.tsv'

df_10_1 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_10_1.shape)
df_10_1.head()

(103237, 2)

              Tweet_Id                                               URLs
0  1178755425707139073                                                 []
1  1178755487619321856                                                 []
2  1178755546863882240                                                 []
3  1178755556032442368  ['https://twitter.com/loosebool/status/1178750...
4  1178755773410811905  ['https://www.gamesradar.com/the-last-of-us-2-...

In [19]:
#Dataframe wird gelesen

pfad = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/random_sample/sample/urls/tweetskb_sample_nicht_verarbeitet_urls_loaded_2.tsv'

df_10_2 = pd.read_csv(pfad, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'URLs'])
print(df_10_2.shape)
df_10_2.head()

(392917, 2)

              Tweet_Id                                               URLs
0  1216933637049872385                                                 []
1  1216933718402703360  ['http://www.change.org/en-GB/petitions/justic...
2  1216933810694184970                                                 []
3  1216933913890680832                                                 []
4  1216934508999708673                                                 []

### In den nächsten Zellen werden die Dataframs zusammengefügt

In [20]:
df = df_1.append(df_2_1, ignore_index=True)

In [21]:
df = df.append(df_2_2, ignore_index=True)

In [22]:
df = df.append(df_2_3, ignore_index=True)

In [23]:
df = df.append(df_3_1, ignore_index=True)

In [24]:
df = df.append(df_3_2, ignore_index=True)

In [25]:
df = df.append(df_4_1, ignore_index=True)

In [26]:
df = df.append(df_4_2, ignore_index=True)

In [27]:
df = df.append(df_4_3, ignore_index=True)

In [28]:
df = df.append(df_5, ignore_index=True)

In [29]:
df = df.append(df_6, ignore_index=True)

In [30]:
df = df.append(df_7, ignore_index=True)

In [31]:
df = df.append(df_8_1, ignore_index=True)

In [32]:
df = df.append(df_8_2, ignore_index=True)

In [33]:
df = df.append(df_9_1, ignore_index=True)

In [34]:
df = df.append(df_9_2, ignore_index=True)

In [35]:
df = df.append(df_10_1, ignore_index=True)

In [36]:
df_tweetskb_urls = df.append(df_10_2, ignore_index=True)

In [37]:
df_tweetskb_urls.shape

(9409849, 2)

In [38]:
df_tweetskb_urls = df_tweetskb_urls.drop_duplicates(subset=['Tweet_Id'])
df_tweetskb_urls.Tweet_Id.size

9409841

In [39]:
import ast
import tldextract

#In diser Funktion wird die Liste von URLs durchgesucht und alle Domäne aus der URLs extrahiert.
#Die Domäne werden mit einem Leerzeichen von einander getrennt, gespeichert und als string zurückgegeben.

def get_domain(list_urls):
    l = ast.literal_eval(list_urls)
    domain_txt =''
    for x in range(0, len(l)):
        ex = tldextract.extract(str(l[x]))
        if x != 0:
            domain_txt = domain_txt + ' ' + ex.registered_domain
        else:
            domain_txt = domain_txt + ex.registered_domain
    if len(domain_txt) == 0:
        return '0'
    else :
        return domain_txt

In [40]:
#Für alle Tweets wird die Methode gerufen
df_tweetskb_urls['URLs'] = df_tweetskb_urls['URLs'].astype(str)
df_tweetskb_urls['URLs_dom'] = df_tweetskb_urls.apply(lambda row: get_domain(row['URLs']), axis=1)
print('URLs_domain!')

URLs_domain!

In [41]:
#Die String-Daten werden durch die Funktion split() geteilt, zu einer Liste umgewandelt.
#Die Länge der Liste wird  zurückgegeben

def get_domain_num(domains):
    l = domains.split()
    return len(l)
    
df_tweetskb_urls['URLs_dom'] = df_tweetskb_urls['URLs_dom'].astype(str)
df_tweetskb_urls['Anzahl der URLs'] = df_tweetskb_urls.apply(lambda row: get_domain_num(row['URLs_dom']) if (row['URLs_dom'] != '0') else 0, axis=1)
print('Anzahl der URLs wurde gerechnet!')

Anzahl der URLs wurde gerechnet!

In [42]:
df_tweetskb_urls.head(100)

,Tweet_Id,URLs,URLs_dom,Anzahl der URLs
0,1178791636039589889,['https://www.dcuniverseinfinite.com/coming-so...,dcuniverseinfinite.com,1
1,1178791641265639424,['http://ourownside.carrd.co'],carrd.co,1
2,1178791640573579264,[],0,0
3,1178791644797255680,[],0,0
4,1178791648056217600,['https://www.phenomhoopreport.com/2022-69-per...,phenomhoopreport.com,1
5,1178791648962236416,[],0,0
6,1178791657380044800,[],0,0
7,1178791661536722949,['https://globalnetworkradio.out.airtime.pro/g...,airtime.pro airtime.pro,2
8,1178791662841159681,['https://www.mobihealthnews.com/news/north-am...,mobihealthnews.com,1
9,1178791665735208960,['https://www.dailytelegraph.com.au/remote/che...,dailytelegraph.com.au,1
10,1178791665399676928,['http://www.dandating.com'],dandating.com,1
11,1178791665768771589,[],0,0
12,1178791674157375488,[],0,0
13,1178791677370101760,[],0,0
14,1178791686740332544,[],0,0
15,1178791690926116864,[],0,0
16,1178791699302289408,[],0,0
17,1178791698564026374,[],0,0
18,1178791732873445377,[],0,0
19,1178791770592878592,['https://www.eventbrite.com/e/nashville-album...,eventbrite.com,1
20,1178791774820519936,[],0,0
21,1178791787391062016,['https://gereconsulting.com/better-caregiver-...,gereconsulting.com,1
22,1178791796853428237,[],0,0
23,1178791795788001281,[],0,0
24,1178791795788046336,[],0,0
25,1178791798669545473,['https://hubzter.com/profile/BluMeree/'],hubzter.com,1
26,1178791804143095811,[],0,0
27,1178791802725376003,['https://www.researchgate.net/publication/889...,researchgate.net,1
28,1178791809503375360,[],0,0
29,1178791809142726661,[],0,0
30,1178791812535857153,[],0,0
31,1178791810468139009,[],0,0
32,1178791816742817792,[],0,0
33,1178791816730202114,[],0,0
34,1178791820958064641,[],0,0
35,1178791820920262662,[],0,0
36,1178791837722693633,[],0,0
37,1178791837722537984,[],0,0
38,1178791846086135808,[],0,0
39,1178791850301218816,[],0,0
40,1178791854508314631,[],0,0
41,1178791875454652416,[],0,0
42,1178791883834892290,[],0,0
43,1178791885852364800,[],0,0
44,1178791892235907073,[],0,0
45,1178791892231827462,[],0,0
46,1178791892885966848,"['http://wg1wga.com', 'http://Drop.Space']",wg1wga.com Drop.Space,2
47,1178791911911542790,[],0,0
48,1178791915929706496,['https://twitter.com/Davlfc9/status/117609475...,twitter.com,1
49,1178791918312001536,[],0,0
50,1178791925782122498,[],0,0
51,1178791928462282752,[],0,0
52,1178791976126357505,[],0,0
53,1178791980329046021,[],0,0
54,1178792022267846661,[],0,0
55,1178792030673293312,[],0,0
56,1178792031025430529,['https://twitter.com/BDG_Esports/status/11747...,twitter.com,1
57,1178792030639738881,[],0,0
58,1178792055822311426,[],0,0
59,1178792067452952576,[],0,0
60,1178792079155179520,['https://www.ft.com/content/1335a134-e106-11e...,ft.com,1
61,1178792097773752326,[],0,0
62,1178792097744338944,[],0,0
63,1178792106162302977,[],0,0
64,1178792114550796289,[],0,0
65,1178792118736887808,['https://pooo.st/wqDrj'],pooo.st,1
66,1178792127112925189,[],0,0
67,1178792139700031488,['https://corporate.homedepot.com/newsroom/pha...,homedepot.com,1
68,1178792143890108417,[],0,0
69,1178792159417380867,[],0,0
70,1178792169051738112,[],0,0
71,1178792190396510209,[],0,0
72,1178792211015704577,[],0,0
73,1178792231995617281,[],0,0
74,1178792236194000896,[],0,0
75,1178792236168822784,[],0,0
76,1178792248772706305,[],0,0
77,1178792285116481536,[],0,0
78,1178792294876667909,[],0,0
79,1178792303302823936,[],0,0
80,1178792320076001282,[],0,0
81,1178792341047562241,[],0,0
82,1178792344084209664,[],0,0
83,1178792349411024896,[],0,0
84,1178792362023079936,[],0,0
85,1178792373158989825,[],0,0
86,1178792377688842240,['https://twitter.com/KatieWitt/status/1178789...,twitter.com,1
87,1178792378771087364,[],0,0
88,1178792395573383168,['https://www.dailyherald.com/news/20190930/45...,dailyherald.com,1
89,1178792403962155008,[],0,0
90,1178792403953692673,[],0,0
91,1178792429131988992,[],0,0
92,1178792433250967552,"['http://ANISYIA.COM', 'http://ANISYIA.COM', '...",ANISYIA.COM ANISYIA.COM fancentro.com pornhub.com,4
93,1178792433305444353,[],0,0
94,1178792450082648070,[],0,0
95,1178792454264430593,[],0,0
96,1178792457535922176,[],0,0
97,1178792479430234117,[],0,0
98,1178792486283563008,[],0,0
99,1178792504616841216,[],0,0

---

In [2]:
#Labels und Pfad für den TweetsKB

TweetsKB_labels    = ['Tweet_Id', 'Benutzername', 'Zeitstempel', 'Abonnenten', 'Abonnierten', 'Retweets', 'Likes', 'Text', 'URLs', 'Ist_gelöscht', 'Hashtags', 'Erwähnungen', 'Anzahl der Hashtags', 'Anzahl der Mentions', 'Textlänge', 'Lesbarkeit' ]
TweetsKB_Pfad =  'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/TweetsKB_stichprobe_lesbarkeit.tsv'

In [3]:
#TweetsKB-Stichprobe wird gelesen

df_tweetskb = pd.read_csv(TweetsKB_Pfad, sep='\t', error_bad_lines=False, names=TweetsKB_labels)
print('Form :', df_tweetskb.shape)
df_tweetskb.head()

Form : (9409841, 16)

,Tweet_Id,Benutzername,Zeitstempel,Abonnenten,Abonnierten,Retweets,Likes,Text,URLs,Ist_gelöscht,Hashtags,Erwähnungen,Anzahl der Hashtags,Anzahl der Mentions,Textlänge,Lesbarkeit
0,1178791636039589889,DCComics,2019-09-30 22:00:01+00:00,3349606,563,2,13,"Today on #DCDaily, the crew takes a deep dive ...",http://bit.ly/2mlNYpS:-:,False,['DCDaily'],['DCUTitans'],1,1,192,70.350
1,1178791641265639424,seanberdyz,2019-09-30 22:00:02+00:00,1203,499,4,20,𝘪’𝘮 𝘨𝘰𝘯𝘯𝘢 𝘣𝘦 𝘳𝘪𝘨𝘩𝘵 𝘩𝘦𝘳𝘦 ⟶ https://t.co/kOxWQL5...,http://ourownside.carrd.co:-:,True,[],[],0,0,73,82.390
2,1178791640573579264,AnArtistAtBirth,2019-09-30 22:00:02+00:00,109,215,0,0,❛ 𝘠𝘰𝘶'𝘳𝘦 𝘴𝘪𝘵𝘵𝘪𝘯' 𝘰𝘯 𝘺𝘰𝘶𝘳 𝘧𝘦𝘦𝘭𝘪𝘯𝘨𝘴 . . . 𝘐'𝘮 𝘴𝘪...,null;,True,['𝘛𝘩𝘦𝘰𝘯𝘦'],[],1,0,128,123.755
3,1178791644797255680,lagosboygang,2019-09-30 22:00:03+00:00,571,1401,0,0,@Tiffany_o_ @UG_derrick That's the one i wanna...,null;,True,[],"['Tiffany_o_', 'UG_derrick']",0,2,77,105.921
4,1178791648056217600,Phenom_Hoops,2019-09-30 22:00:04+00:00,25630,1674,1,1,2022 6’9 Perry Smith Jr. showcasing his high-m...,https://www.phenomhoopreport.com/2022-69-perry...,False,['PhenomHoops'],[],1,0,227,65.943

In [49]:
#Nur die TweetsIDs, Domäne und Anzahl der Domäne(URLs) werden genommen
df_tweetskb_urls = df_tweetskb_urls[['Tweet_Id', 'URLs_dom', 'Anzahl der URLs']]

#Hier werden die Domäne und Anzahl der URLs zu dem TweetsKB hinzugefügt. 
df_tweetskb = pd.merge(df_tweetskb, df_tweetskb_urls, on='Tweet_Id', how='left')
print('Form :', df_tweetskb.shape)
df_tweetskb.head()

Form : (9409841, 18)

,Tweet_Id,Benutzername,Zeitstempel,Abonnenten,Abonnierten,Retweets,Likes,Text,URLs,Ist_gelöscht,Hashtags,Erwähnungen,Anzahl der Hashtags,Anzahl der Mentions,Textlänge,Lesbarkeit,URLs_dom,Anzahl der URLs
0,1178791636039589889,DCComics,2019-09-30 22:00:01+00:00,3349606,563,2,13,"Today on #DCDaily, the crew takes a deep dive ...",http://bit.ly/2mlNYpS:-:,False,['DCDaily'],['DCUTitans'],1,1,192,70.350,dcuniverseinfinite.com,1
1,1178791641265639424,seanberdyz,2019-09-30 22:00:02+00:00,1203,499,4,20,𝘪’𝘮 𝘨𝘰𝘯𝘯𝘢 𝘣𝘦 𝘳𝘪𝘨𝘩𝘵 𝘩𝘦𝘳𝘦 ⟶ https://t.co/kOxWQL5...,http://ourownside.carrd.co:-:,True,[],[],0,0,73,82.390,carrd.co,1
2,1178791640573579264,AnArtistAtBirth,2019-09-30 22:00:02+00:00,109,215,0,0,❛ 𝘠𝘰𝘶'𝘳𝘦 𝘴𝘪𝘵𝘵𝘪𝘯' 𝘰𝘯 𝘺𝘰𝘶𝘳 𝘧𝘦𝘦𝘭𝘪𝘯𝘨𝘴 . . . 𝘐'𝘮 𝘴𝘪...,null;,True,['𝘛𝘩𝘦𝘰𝘯𝘦'],[],1,0,128,123.755,0,0
3,1178791644797255680,lagosboygang,2019-09-30 22:00:03+00:00,571,1401,0,0,@Tiffany_o_ @UG_derrick That's the one i wanna...,null;,True,[],"['Tiffany_o_', 'UG_derrick']",0,2,77,105.921,0,0
4,1178791648056217600,Phenom_Hoops,2019-09-30 22:00:04+00:00,25630,1674,1,1,2022 6’9 Perry Smith Jr. showcasing his high-m...,https://www.phenomhoopreport.com/2022-69-perry...,False,['PhenomHoops'],[],1,0,227,65.943,phenomhoopreport.com,1

In [50]:
#Hier wird geprüft ob es Null-Daten in Dataframe gibt
df_tweetskb.isna().sum()

Tweet_Id               0
Benutzername           0
Zeitstempel            0
Abonnenten             0
Abonnierten            0
Retweets               0
Likes                  0
Text                   0
URLs                   0
Ist_gelöscht           0
Hashtags               0
Erwähnungen            0
Anzahl der Hashtags    0
Anzahl der Mentions    0
Textlänge              0
Lesbarkeit             0
URLs_dom               0
Anzahl der URLs        0
dtype: int64

In [54]:
#Dataframe wird gespeichert.

TweetsKB_Pfad =  'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/TweetsKB_stichprobe_domain_zahl.tsv'

with open(TweetsKB_Pfad, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb.iterrows():
        tsv_writer.writerow(row.values.tolist())