In [1]:
#CSV Bibliothek importieren 
import csv
#Pandas importieren und als pd bezeichnen
import pandas as pd
#Numpy importieren und als np bezeichnen 
import numpy as np
#Json Biliothek importieren
import json
#Obere Schranke für die Größe der Daten auf 100,000,000 setzen  
csv.field_size_limit(100000000)
#Maximale Anzahl von Zeilen und Spalten Zeigen 
pd.options.display.max_columns = None
pd.options.display.max_rows = None

***

# TweetsCov19

1. Die Benutzer, die in allen drei Dimensionen eine polarisierete Wertung haben, werden ausgewählt.
2. Die Anzahl der geposteten Tweets, gelöschten Tweets, Löschungsquote und Reputation werden zu der Benutzer hinzugefügt.
3. Dataframe wird gespeichert.

***

In [7]:
#Die Dataframe, die die Benutzer mit politischen Meinungen enthält, wird hier gelesen. 
pfad_tsv1 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/dom_label/tweetscov19_unique_user_dom_politik.tsv'

df_tweetscov19_politik = pd.read_csv(pfad_tsv1, sep='\t', error_bad_lines=False, names=['Username', 'Urls_num', 'neg', 'pos', 'pol_dom_num', 'politic'])
pd.options.display.max_columns = None
print('Shape :', df_tweetscov19_politik.shape)
df_tweetscov19_politik.head()

Shape : (52631, 6)

                           Username  Urls_num  neg  pos  pol_dom_num   politic
0  00008ca06f863b962f72cc9167d7978a         1   -1    0            1 -1.000000
1  0001a863c159122c712c53258cf13c8b         1   -1    0            1 -1.000000
2  000220d9d43b6b1ad7dbbdbfbcc53371         5   -1    2            3  0.333333
3  000353a523eec0084e195fafc082a6a9         1   -1    0            1 -1.000000
4  0003e8427d9272dd24f2bcb66b871ea9         2   -2    0            2 -1.000000

In [8]:
#Die Dataframe, die die Benutzer mit wissenschaftlichen Polarisierungen enthält, wird hier gelesen. 
pfad_tsv1 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/dom_label/tweetscov19_unique_user_dom_science.tsv'

df_tweetscov19_science = pd.read_csv(pfad_tsv1, sep='\t', error_bad_lines=False, names=['Username', 'Urls_num', 'neg', 'pos', 'pol_dom_num', 'science'])
pd.options.display.max_columns = None
print('Shape :', df_tweetscov19_science.shape)
df_tweetscov19_science.head()

Shape : (36104, 6)

                           Username  Urls_num  neg  pos  pol_dom_num   science
0  0002eb2aff20e181397afe8cdebdd395         1    0    1            1  1.000000
1  00065a00b971b5e1629d504e0ddf2da0        27   -4    1            5 -0.600000
2  0006a238065c3acb128041e666b58f07        13    0    2            2  1.000000
3  000795932bf3bc3ab05b5efc1b07104b         2   -1    0            1 -1.000000
4  00084b153bbf7f4a8c1df3b638e07765        15   -9    4           13 -0.384615

In [9]:
#Die Dataframe, die die Benutzer mit moderaten Polarisierungen enthält, wird hier gelesen. 
pfad_tsv1 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/dom_label/tweetscov19_unique_user_dom_moderacy.tsv'

df_tweetscov19_moderacy = pd.read_csv(pfad_tsv1, sep='\t', error_bad_lines=False, names=['Username', 'Urls_num', 'neg', 'pos', 'pol_dom_num', 'moderat'])
pd.options.display.max_columns = None
print('Shape :', df_tweetscov19_moderacy.shape)
df_tweetscov19_moderacy.head()

Shape : (96513, 6)

                           Username  Urls_num  neg  pos  pol_dom_num  moderat
0  00008ca06f863b962f72cc9167d7978a         1   -1    0            1     -1.0
1  00016e20a3865cb74581803c27d27b89         1   -1    0            1     -1.0
2  0001a863c159122c712c53258cf13c8b         1    0    1            1      1.0
3  000220d9d43b6b1ad7dbbdbfbcc53371         5   -2    0            2     -1.0
4  000353a523eec0084e195fafc082a6a9         1    0    1            1      1.0

In [10]:
#Die zwei Dataframes, die Benutzer mit wissenschaftlichen und politischen Meinunegen enthalten werden vereinigt.
#Es wird eine Schnittmenge der Benutzer berechnet. Nur die Benutzer die in beiden Dimensionen eine Wertung haben, werden ausgewählt.
df_tweetscov19_politik = df_tweetscov19_politik[['Username', 'politic']]
df_tweetscov19_science = df_tweetscov19_science[['Username', 'science']]
df_tweetscov19_user = pd.merge(df_tweetscov19_politik, df_tweetscov19_science, on='Username', how='inner')
print('Shape :', df_tweetscov19_user.shape)
df_tweetscov19_user.head()

Shape : (14542, 3)

                           Username   politic   science
0  00065a00b971b5e1629d504e0ddf2da0  0.285714 -0.600000
1  000795932bf3bc3ab05b5efc1b07104b  1.000000 -1.000000
2  00084b153bbf7f4a8c1df3b638e07765  0.636364 -0.384615
3  000df0c86153a1e9e65feca1051f8c1e  0.333333 -0.600000
4  0013aaa4da0461c58d0b1306af75af02  0.372549 -0.217391

In [11]:
#Das bekommene Ergebniss von der letzten Schritt wird hier mit der Dataframe, die Moderat und Hardliner enthält vereinigt.
#Es wird hier ein Inneres Produkt gebildet, sodass nur die Benutzer, die in allen drei Dimensionen einen Wert haben, werden ausgewählt.
df_tweetscov19_moderacy = df_tweetscov19_moderacy[['Username', 'moderat']]
df_tweetscov19_user = pd.merge(df_tweetscov19_user, df_tweetscov19_moderacy, on='Username', how='inner')
print('Shape :', df_tweetscov19_user.shape)
df_tweetscov19_user.head()

Shape : (9682, 4)

                           Username   politic   science   moderat
0  00065a00b971b5e1629d504e0ddf2da0  0.285714 -0.600000 -0.500000
1  00084b153bbf7f4a8c1df3b638e07765  0.636364 -0.384615  0.600000
2  0013aaa4da0461c58d0b1306af75af02  0.372549 -0.217391  0.179487
3  0014d7b1fe551607a62efe406510f210 -1.000000  1.000000 -1.000000
4  00231111ddf5695458a1354b2dba79e3  1.000000 -0.333333  1.000000

In [9]:
#Die gewonnenen Benutzer werden gespeichert.
pfad_tsv3 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/TweetsCov19_sample/Users/tweetscov19_user_polarisiert_1.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19_user.iterrows():
        tsv_writer.writerow(row.values.tolist())

***

In [12]:
#Hier wird die Dataframe gelesen, die die Anzahl der geposteten und gelöschten Tweets, Löschungsquote und Reputation von Benutzer enthält.
 
pfad_tsv = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/TweetsCov19_sample/TweetsCov19_alle_geloeschten/TweetsCov19_all_repu_del_.tsv'

df_tweetscov19_user_repu_del = pd.read_csv(pfad_tsv, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Followers', 'Friends', 'is_deleted', 'Reputation', 'num_posted', 'num_del', 'Deletion_ratio'])
pd.options.display.max_columns = None
print('Form :', df_tweetscov19_user_repu_del.shape)
df_tweetscov19_user_repu_del.head()

Form : (9409841, 9)

,Tweet_Id,Username,Followers,Friends,is_deleted,Reputation,num_posted,num_del,Deletion_ratio
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,764191,132,True,0.999827,21,21,1.0
1,1181705842275573766,c57d4fb895c5f4a33d2a2b24709f93b5,765034,132,True,0.999827,21,21,1.0
2,1187828746503540738,c57d4fb895c5f4a33d2a2b24709f93b5,766578,132,True,0.999827,21,21,1.0
3,1192622772658290688,c57d4fb895c5f4a33d2a2b24709f93b5,767939,133,True,0.999827,21,21,1.0
4,1193272068621717504,c57d4fb895c5f4a33d2a2b24709f93b5,768180,133,True,0.999827,21,21,1.0

In [13]:
#die Features: Anzahl der geposteten und gelöschten Tweets, Löschungsquote und Reputation werden zu der Benutzer mit drei Polarisierungswerten hinzugefügt.
df_tweetscov19_user_repu_del = df_tweetscov19_user_repu_del[['Username', 'num_posted', 'num_del', 'Deletion_ratio', 'Reputation']]
df_tweetscov19_user = pd.merge(df_tweetscov19_user, df_tweetscov19_user_repu_del, on='Username', how='inner')
print('Form :', df_tweetscov19_user.shape)
df_tweetscov19_user.head()

Form : (518261, 8)

,Username,politic,science,moderat,num_posted,num_del,Deletion_ratio,Reputation
0,00065a00b971b5e1629d504e0ddf2da0,0.285714,-0.6,-0.5,74,1,0.013514,0.519254
1,00065a00b971b5e1629d504e0ddf2da0,0.285714,-0.6,-0.5,74,1,0.013514,0.519254
2,00065a00b971b5e1629d504e0ddf2da0,0.285714,-0.6,-0.5,74,1,0.013514,0.519254
3,00065a00b971b5e1629d504e0ddf2da0,0.285714,-0.6,-0.5,74,1,0.013514,0.519254
4,00065a00b971b5e1629d504e0ddf2da0,0.285714,-0.6,-0.5,74,1,0.013514,0.519254

In [33]:
#Das Ergebniss wird gespeichert.
pfad_tsv3 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/TweetsCov19_sample/Users/tweetscov19_user_post_del_del_rep_1.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19_user.iterrows():
        tsv_writer.writerow(row.values.tolist())